################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coursework/Q1/Debug
/Coursework/Q1/x64/Debug
