################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coursework/.vs/Coursework/v15
/Coursework/x64
/Coursework/CourseworkTests/x64/Debug
/Coursework/Debug
/.vs
